* { margin: 0; padding:0; border: none;}

body  { 
		font-family: Arial, sans-serif;
	   font-size:11px;
	   background: #F3F3F3 url(../images/body/bodyBack.png) repeat-x;}
	   
	   body.bodyLogin { background-position: 0 -120px;}
	   
/* Container ***********************************************/

#Container {
	margin: 5px auto;
	width: 980px;}
	
/* Header ***********************************************/

#Header {
	float: left;
	width: 100%;
	position: relative;
	z-index: 1;
	*margin-top: -5px;}
	
/* Main ***********************************************/

#Content {
	float: left;
	width: 100%;
	padding-top: 30px;
    position: relative;}
	
		
/* Footer ***********************************************/

#Footer {
	float: left;
	padding: 30px 0;
	width: 100%;}
    